<%- include includes/navbar.ejs %>
    
    
    <%if(status!="START"){
    %>
    
    <h1><%= cname%> / <span><small>WEEK <%= week%></small></span></h1>
    
    
    
    
    
    
<div class="container-fluid course-complete-structure">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">THEORY</a></li>
    <li><a data-toggle="tab" href="#menu1">VIDEOS</a></li>
    <li><a data-toggle="tab" href="#menu2">PRACTICE</a></li>
    <li><a data-toggle="tab" href="#menu3">COMING UP</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2 id="text">TEXT</h2>
            <p class="course_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia cum veritatis dolorum beatae doloribus accusantium saepe quaerat quam deleniti ad, delectus minus laboriosam consequuntur nihil maxime omnis ex enim similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat aspernatur soluta harum, voluptas, ullam velit tempora! Eaque delectus, neque, facere accusantium, voluptate corporis expedita alias illum autem voluptatibus ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ea quidem ad cupiditate labore delectus cum provident repellendus ipsam esse deleniti nobis, voluptate eos corporis perspiciatis in sequi, assumenda neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At laborum quas, modi soluta nostrum fuga praesentium esse animi et velit enim deleniti non molestiae, est voluptatum recusandae error ea sint?</p>                    
            <img src="https://image.slidesharecdn.com/userdefinedfunctionsinmatlabpart1-161130090612/95/user-defined-functions-in-matlab-part-1-6-638.jpg?cb=1480496904" alt="" width="100%;" height= "400px">
            <br><br>
                    
            <p class="course_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia cum veritatis dolorum beatae doloribus accusantium saepe quaerat quam deleniti ad, delectus minus laboriosam consequuntur nihil maxime omnis ex enim similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat aspernatur soluta harum, voluptas, ullam velit tempora! Eaque delectus, neque, facere accusantium, voluptate corporis expedita alias illum autem voluptatibus ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ea quidem ad cupiditate labore delectus cum provident repellendus ipsam esse deleniti nobis, voluptate eos corporis perspiciatis in sequi, assumenda neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At laborum quas, modi soluta nostrum fuga praesentium esse animi et velit enim deleniti non molestiae, est voluptatum recusandae error ea sint?</p>                    
            <img src="https://image.slidesharecdn.com/userdefinedfunctionsinmatlabpart1-161130090612/95/user-defined-functions-in-matlab-part-1-6-638.jpg?cb=1480496904" alt="" width="100%;" height= "400px">
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2 id="video">VIDEOS</h2>
      <div class="row video-container">
          <div class="col-sm-8">
              <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="iframe" name="video_frame"></iframe>
          </div>
          <div class="col-sm-4 playlist-container">
              <h3>PLAYLIST</h3>
              <a href="https://www.youtube.com/embed/b4Q93ohQPKg" target="video_frame"><div class="col-sm-12 playlist-item">
              <img src="https://i.ytimg.com/vi/nDOpAEW2q2w/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLBGzdXWitopcwQvy1-phF94xqKy6A" alt="" style="height: 100%; width: 50%;">
              VIDEO 1
              </div></a>
              <a href="https://www.youtube.com/embed/b4Q93ohQPKg" target="video_frame"><div class="col-sm-12 playlist-item">
              <img src="https://i.ytimg.com/vi/nDOpAEW2q2w/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLBGzdXWitopcwQvy1-phF94xqKy6A" alt="" style="height: 100%; width: 50%;">
              VIDEO 1
              </div></a>
              <a href="https://www.youtube.com/embed/b4Q93ohQPKg" target="video_frame"><div class="col-sm-12 playlist-item">
              <img src="https://i.ytimg.com/vi/nDOpAEW2q2w/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLBGzdXWitopcwQvy1-phF94xqKy6A" alt="" style="height: 100%; width: 50%;">
              VIDEO 1
              </div></a>
              <a href="https://www.youtube.com/embed/b4Q93ohQPKg" target="video_frame"><div class="col-sm-12 playlist-item">
              <img src="https://i.ytimg.com/vi/nDOpAEW2q2w/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLBGzdXWitopcwQvy1-phF94xqKy6A" alt="" style="height: 100%; width: 50%;">
              VIDEO 1
              </div></a>
              <a href="https://www.youtube.com/embed/b4Q93ohQPKg" target="video_frame"><div class="col-sm-12 playlist-item">
              <img src="https://i.ytimg.com/vi/nDOpAEW2q2w/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLBGzdXWitopcwQvy1-phF94xqKy6A" alt="" style="height: 100%; width: 50%;">
              VIDEO 1
              </div></a>
              <a href="https://www.youtube.com/embed/b4Q93ohQPKg" target="video_frame"><div class="col-sm-12 playlist-item">
              <img src="https://i.ytimg.com/vi/nDOpAEW2q2w/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLBGzdXWitopcwQvy1-phF94xqKy6A" alt="" style="height: 100%; width: 50%;">
              VIDEO 1
              </div></a>
          </div>
      </div>
    </div>

    <div id="menu2" class="tab-pane fade">
      <h2 id="practice">PRACTICE QUESTIONS</h2>
            <p>Try these questions in the practice arena :</p>
            <ul>
                <li>Question 1</li>
                <li>Question 2</li>
                <li>Question 3</li>
                <li>Question 4</li>
            </ul>
            <a href="#">GO TO THE PRACTICE ARENA....</a>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2 id="next">COMING UP NEXT</h2>
    </div>
  </div>
</div>
<%}else{%>
    <%- include courseDesc.ejs %>
    <%}%>
<%- include includes/footer.ejs %>