<%- include includes/navbar.ejs %>
    <h1>ALL COURSES</h1>
    <%if(currentStatus=="ALREADY"){%>
              <script type="text/javascript">
                swal("ALERT", "ALREADY ENROLLED FOR THE COURSE", "info");
              </script>
    <%}%>
    <%if(currentStatus=="DONE"){%>
              <script type="text/javascript">
                swal("SUCCESS", "ENROLLED FOR THE COURSE", "success");
              </script>
    <%}%>
    <div class="container-fluid">
        <div class="row">
          
         
           <ul>
                      <% obj.forEach(function(obj) { %>
                      
                      
                      <div class="col-sm-10 courseDetails">
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <img src="https://media.giphy.com/media/10B1POqoY9kOME/giphy.gif" alt="" class="img-responsive courseImage">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-12 courseSummary">
                        <h3><%= obj.courseTitle %></h3>
                        <p>course description - <%= obj.shortDesc %></p>
                        <br><br>
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#<%= obj.courseId %>">ABOUT COURSE</button>
                        <form action="/addCourse" method="POST">
                        <input type="text" value=<%= obj.courseId %> hidden name="cid">
                        <input type="text" value=<%= obj.courseTitle %> hidden name="cname">
                        <button class="btn btn-primary">ENROLL</button>
                        </form>
                        <br>
                        <div id="<%= obj.courseId %>" class="collapse">
                        <%= obj.aboutCourse %>
                        <hr><span class="pull-right">DURATION : <%= obj.duration %></span>
                        </div>
                    </div>
                </div>  
            </div>
           <% }); %>
           </ul> 

           
<!--
            KEPT ONLY FOR REFERENCE IN FUTURE
               <div class="col-sm-10 courseDetails">
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <img src="https://media.giphy.com/media/10B1POqoY9kOME/giphy.gif" alt="" class="img-responsive courseImage">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-12 courseSummary">
                        <h3>COURSE TITLE</h3>
                        <p>course description - this is a smple description.</p>
                        <br><br>
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo1">ABOUT COURSE</button>
                        <span class="btn btn-primary">ENROLL</span>
                        <br>
                        <div id="demo1" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <hr><span class="pull-right">DURATION : 7 DAYS</span>
                        </div>
                    </div>
                </div>  
            </div>
-->
           
        </div>
    </div>
<%- include includes/footer.ejs %>